.options{
    text-align: right;
}

.pages{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    padding: 10px 5px;
    text-align: right;
    text-decoration: none;
}
.pages:hover{
    text-decoration: underline;
}

.searchbar{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid hsl(220, 10%, 90%);
    border-radius: 50px;
    width: 500px;
    height: 15px;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.searchbar:focus{
    outline: none;
    box-shadow: 0 0 2pt 1pt lightgrey;
}
.searchbar:hover{
    outline: none;
    box-shadow: 0 0 2pt 1pt lightgrey;
}
.google-logo {
    height: 100px;
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px
}
.searchbuttons {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: middle;
}

.buttons{
    font-size: 13px;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: hsl(200, 5%, 97%);
    margin: 5px 5px;
}
.buttons:hover{

    box-shadow: 0 0 0 1pt lightgrey;
}
.images{
    color: hsl(220, 100%, 65%);
    font-family: Trebuchet, Helvetica, sans-serif;
    font-size: 19px;
    text-align: center;
    margin-left: 235px;
    margin-top: -25px;

}
.logospace{
    margin-bottom: 20px;
}
.corner{
    height: 25px;
    margin-left: 10px;
}
.advancedsearch{
    color: hsl(9, 90%, 45%);
    font-weight: 100;
    font-size: 20px;
    font-family: Arial, Lucida, monospace;
    margin-left: 50px;
    margin-top: 50px;
}
.advancedoptions{
    color: black;
    font-weight: normal;
    font-family:arial, lucida, monospace;
    font-size: 15px;
    display:block;
    margin-left: 50px;
    margin-top: 20px;

}

.advancedbar{
    font-size:15px;
    width:500px;
    height:30px;
    padding:1px 5px;
    border: 1px solid hsl(220, 10%, 90%);
}
.advancedbar:focus{
    padding:1px 5px;
    border: 1px solid hsl(220, 100%, 50%);
    outline: none;
    box-shadow: inset 0 0 3px grey;
}
.advancedbutton{
    font-family: Arial, Helvetica, Sans-serif;
    font-size:15px;
    color:white;
    border: 1px solid hsl(220, 100%, 55%);
    background-color: hsl(220, 95%, 64%);
    border-radius: 3px;
    padding:5px 10px;
    margin-left:605px;
    margin-top: 20px;
}
.advancedbutton:hover{
    background-color: hsl(220, 95%, 60%);
}
